@page "/"
@using IMS.Application.Features.Inventories.Interfaces;
@inject IConfiguration Config;

@inject IViewInventoriesByName ViewInventoriesByName

<PageTitle>Test Page</PageTitle>

<h1>Hello, world!</h1>



@code {
	
}