@page "/"
@using IMS.Application.Features.Inventories.Interfaces;
@using IMS.Domain.Entities;
@inject IConfiguration Config;

@inject IViewInventoriesByNameUseCase ViewInventoriesByName

<PageTitle>Test Page</PageTitle>

<h1>Hello! Welcome to the Inventory Management App!</h1>
<br />
<ul>


</ul>



@code {
	private List<Inventory> _inventories = new List<Inventory>();

	protected override async Task OnInitializedAsync()
	{
		_inventories = (await ViewInventoriesByName.ExecuteAsync()).ToList();
	}
}